*{
    margin: 0;
    padding: 0;
}


.cor1{
    height: 20rem;
    

}



.cor2{
    height: 20rem;
    background-color: #330033;
}
/*font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;*/

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

h1, h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif

}


body{
    background-color: #040004;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    width: 100%;

}

h1{
    font-size: 6rem;
    text-transform: uppercase;
    color: aliceblue;
}
h2{
    font-size: 5rem;
    text-transform: uppercase;
}
h3{
    font-size: 4rem;
    text-transform: uppercase;
}

h4{
    font-size: 3rem;
    text-transform: uppercase;
}
h5{
    font-size: 2rem;
    text-transform: uppercase;
}
h6{
    font-size: 8rem;
    text-transform: uppercase;
}
a{
    text-decoration: none;
}

.main{
    max-width: auto;
}

.main-content{
    max-width: 1020px;
    margin: 0 auto;
    color: aliceblue;
}



.menu{
    background-color: aliceblue;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid #eee ;
    
}

.menu h1{
    font-size: 4.3rem;
}
.menu h1 a{
    color: black;
}

.menu ul{
    list-style: none;
    display: flex;
}
.menu ul li a{
    display: block;
    padding: 2rem;
    position: relative;
}

.menu ul li a::after{
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 25%;
    width: 0;
    height: 0.2rem;
    background: #330033;
    transition: all 300ms ease-in-out;

}
.menu ul li a:hover::after{
    
    width: 50%;
    

}


.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-space{
    margin-top: 10rem;
}

.intro{
    background-color: #040004;
}

.grid-intro{
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: center;
    align-items: center;
    

}
.intro-text,.intro-text p, .intro-text h2{
    max-width: 100%;
    height: auto;
}

.intro-text, .intro-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 5rem;
}

.intro-text h2{
    font-size: 8rem;
    margin-bottom: 3rem;

}

.intro-img{
    
  max-width: 100%;
  display: block;
    
}

.top3{
    background-color: #eee;
    color: #040004;
    height: auto;
    margin-top: 1rem;
    width: auto;
    padding: 4rem;
    
}

.top3 h2{
    color: #040004;
    text-align: center;
    margin-top: 1rem;
    padding-top: 3rem;
}

.top3 p{
    color: #040004;
    padding-top: 1rem;
    text-align: justify;
}

.grid{
    background-color: #330033;
}
.grid-title{
    margin-bottom: -10rem;
    margin-top: 10rem;

}

.grid-content{
    height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-bottom: 10rem;
    margin-top: 10rem;
    background-color: #330033;
    

}
.grid-collums{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10%;
    margin-top: 6rem;
    text-align: justify;
    counter-reset: grid-counter;
    justify-content: center;
    align-items: center;
}

.grid-collums h4{
    position: relative;
    padding-left: 6rem;
    
    margin-bottom: 4rem;

}

.grid-collums h4::before{
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    top: -2rem;
    left: 0rem;
    transform: rotate(10deg);

}

.box {
    display: flex;
    align-items: stretch;
  }